li {
  color: white;
  padding: 10px 30% 30px;
  margin:10px;
  box-sizing: border-box;
}

body{
  margin:10px;
  box-sizing: border-box;
}
form{
  padding : 20px;
  box-sizing: border-box;
  align-content: center;
  text-align: center;
}